.btnImg {
    object-fit: cover;
    height: 1rem;
}

.cls-1{
    fill: #260801;
}

.hover-button:hover .cls-1{
    fill: #F2E2C4;
}

.hover-button {
    padding: 0.75rem 1.5rem;
    border: 2px solid #260801;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #260801;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    gap: 1rem;
    max-width: 27%;
}

.hover-button:hover {
    color: beige;
}

.hover-button__overlay {
  position: absolute;
  width: 0;
  height: 0;
  background: #260801;
  border-radius: 50%;
  transition: width 0.4s ease, height 0.4s ease, top 0.4s ease, left 0.4s ease;
  transform: translate(-50%, -50%) scale(4);
  z-index: -1;
}
