#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem auto 6rem auto;
    background-color: #808c54;
    color: #F2E2C4;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 200;
    padding-top: 4rem;
    margin-bottom: 2rem;
    font-family: "chelsea-market-pro", sans-serif;
}

.skillDescription {
    max-width: 65rem;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0 2rem;
}

.skillBars {
    display: grid;
    width: 80%;
    max-width: 65rem;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.skillBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 1rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    border: 3px solid #F2E2C4;
}

.skillBarImg {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.skillBarText {
    font-size: 1.2rem;
}

.filImg {
    width: 25%;
    position: absolute;
    top: 155vh;
    left: -10px;
    z-index: 9;
}

.backgroundImg {
    width: 100vw;
    position: absolute;
    margin-top: -38rem;
    z-index: -90;
}

@media screen and (max-width:1120px) {
    .skillBarText>p {
        font-size: 2vw;
    }

    .skillTitle {
        font-size: 7vw;
    }

    .skillBars {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 4fr;
    }

    .filImg {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p {
        font-size: 2vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h3 {
        font-size: 3vw;
    }
}