.active {
    color: #545928;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #545928;
}

.navb {
    display: flex;
    justify-content: center;
    background-color: #F2E2C4;
    height: 5rem;
    width: 100vw;
    max-width: 80%;
    margin: 1rem auto;
    padding: 1rem 2rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}


.logonav {
    object-fit: contain;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: #545928;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #545928;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 100vh;
    min-width: 15rem;
    background: #F2E2C4;
    cursor: pointer;
}

.listItem {
    color: #545928;
    padding: 0.5rem 3rem;
    margin: 0.5rem;
    font-weight: 600;
}

@media screen and (max-width:940px) {
    .mobMenu {
        display: flex;
        cursor: pointer;
        margin-left: 0;
    }
    .desktopMenu {
        display: none;
    }
    .hover-button {
        display: none !important;
    }
}